<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ford Mustang GT Coupe Generations</title>
</head>
<body>

<ul>
    <li><a href="/studentapp/home/">Home</a></li>
    <li><a href="/studentapp/users/">Mustang GT</a></li>
    <li><a href="/studentapp/mustang/" target="_blank">Ford Mustang GT Coupe Generations</a></li>
        <h1>Ford Mustang GT Coupe Generations</h1>
</ul>
        <ol type="1">
        <li>7th Gen (S650)</li>
        <li>6th Gen (S550) Facelift</li>
        <li>6th Gen (S550)</li>
        <li>5th Gen (S-197 II) Facelift 2</li>
        <li>5th Gen (S-197 II) Facelift</li>
        <li>5th Gen (S-197)</li>
        <li>4th Gen Facelift</li>
        <li>4th Gen</li>
        <li>3rd Gen Facelift</li>
        <li>3rd Gen</li>
        <li>1st Gen Facelift</li>
        <li>1st Gen</li>
    </ol><hr>
</body>
</html>