    <!DOCTYPE html>
    <html>
        <head>
            <title>Mustang GT500 </title>
<!--            <style>li{-->
<!--            display: inline-block;-->
<!--                background-color: white;-->
<!--                color: black;-->
<!--                }-->
<!--                .Car{-->
<!--                border-color:black;-->
<!--                border-width: 2px;-->
<!--                border-style: solid;-->
<!--                margin: 10px;-->
<!--                display: inline-block;-->
<!--                flex-wrap: wrap;-->
<!--                justify-content: space-around;-->
<!--                width: 350px;-->
<!--                }-->
<!--                .Car div-->
<!--                {-->
<!--                width: 350px;-->
<!--                margin: 10px;-->
<!--                flex-basis: 20%-->
<!--                }-->
<!--                .Car:hover{-->
<!--                background-color: black;-->
<!--                color: white;-->
<!--                }-->
<!--            </style>-->
            <link rel="stylesheet" type="text/css" href="/static/style1.css">
            <link rel="icon" href="/static/icon.jpeg">
    </head>
        <body>
        <div class="header">
            <nav>
                <h1>Mustang GT500</h1>
                <ul>
                    <li><a href="/studentapp/home/">Home |</a></li>
                    <li><a href="/studentapp/users/">Mustang GT |</a></li>
                    <li><a href="/studentapp/contact/"> Contact</a></li>
                </ul>
            </nav>
        </div>
        <img src="/static/frontgt.jpg" height="750" width="100%" alt="GT500">
    <!--    style="color: #c0c0c0; background-size: cover; background-position: center; background-image: url('/static/OIP.jpeg');">-->

            <h1>Mustang GT500 Price in India, Mileage, Colours, Specs And Moto Facts</h1>
            <p>Unleash your inner speed enthusiast with the Ford Mustang Shelby GT500. This powerhouse of a sports car is equipped with a supercharged V8 engine, cutting-edge suspension system, and a strikingly aggressive exterior design that commands attention wherever you go. Embark on a journey of exhilaration and freedom with the Shelby GT500 – the ultimate embodiment of American muscle.</p>
            <p>The Ford Mustang Shelby GT500 stands as a pinnacle in the high-performance sports car realm, serving as a distinguished member of the esteemed Mustang lineage. Conceived and meticulously crafted by Ford’s Special Vehicle Team (SVT), it proudly carries the legacy of the revered Carroll Shelby. Renowned for its awe-inspiring potency and velocity, the GT500 stands as a cherished choice among automobile enthusiasts and collectors alike.</p>

            <hr>

            <h2>Ford Mustang Shelby GT500 Colour 🚗</h2>
    <div class="colors">
         <h3><ins>The Ford Mustang Shelby GT500 is available in a variety of colors, including:</ins></h3>
             <p>* Rapid Red Metallic Tinted Clearcoat</p>
             <p>* carShadow Black</p>
             <p>* Oxford White 2020</p>
             <p>* Iconic Silver Metallic</p>
             <p>* Velocity Blue Metallic</p>
             <p>* Twister Orange Metallic</p>
    </div>
        <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/30kmm3VHB3g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    <div class="models">
        <h3><a href="/studentapp/mustang/">Ford Mustang GT Coupe Generations</a></h3>
        <ol type="1">
            <p>1. 7th Gen (S650)</p>
            <p>2. 6th Gen (S550) Facelift</p>
            <p>3. 6th Gen (S550)</p>
            <p>4. 5th Gen (S-197 II) Facelift 2</p>
            <p>5. 5th Gen (S-197 II) Facelift</p>
            <p>6. 5th Gen (S-197)</p>
            <p>7. 4th Gen Facelift</p>
            <p>8. 4th Gen</p>
            <p>9. 3rd Gen Facelift</p>
            <p>10. 3rd Gen</p>
            <p>11. 1st Gen Facelift</p>
            <p>12. 1st Gen</p>
        </ol><hr>
    </div>
    <div class="Car">
        <h4>Red Metallic Tinted Clearcoat:</h4>
        <a href="/studentapp/rrm" target="_blank">
    <img src="/static/rrmtg.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>
    <div class="Car">
        <h4> carShadow Black:</h4>
        <a href="/studentapp/csb" target="_blank">
    <img src="/static/omtg.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>
    <div class="Car">
        <h4>Oxford White 2020:</h4>
        <a href="/studentapp/oxw" target="_blank">
            <img src="/static/gt.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>
    <div class="Car">
        <h4>Iconic Silver Metallic:</h4>
        <a href="/studentapp/ism" target="_blank">
            <img src="/static/gts.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>
    <div class="Car">
        <h4>Velocity Blue Metallic:</h4>
        <a href="/studentapp/vbm" target="_blank">
            <img src="/static/vcb.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>
    <div class="Car">
        <h4>Twister Orange Metallic:</h4>
        <a href="/studentapp/tom" target="_blank">
            <img src="/static/tog.png" height="250" width="350"></a>
    <p>lorem50</p>
    </div>

        </body>
    </html>
